*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #fdfdfd;
  height: 2000px; /* temporary */
}

/* ######### Reusable content ############*/

h1{
  font-size: 300%;
  font-weight: 300;
}
h2{
  font-size: 260%;
  font-weight: 300;
}
h3{
  font-size: 160%;
  font-weight: 400;

}

section{
  padding: 110px 0;
}
.row{
  max-width: 1130px;
  margin: 0 auto;
}
header,section{
  text-align: center;
}
section h2{
  margin-bottom: 50px;
}
a{
  text-decoration: none;

}


/* ############### Header ############### */

header{
  height: 100vh;
}
.logo{
  height: 20vh;
  width: auto;
  margin: 50px 0;
}
.title{
  color: #393e46;
}
.title h1{
  padding-bottom: 50px;
}

/* ############## Desk ############### */

#desk{
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 30px 0 0 0;
}
#desk img{
  max-width: 100%;
  max-height: 350px;
  width: auto;

}

/* ############## Skills ############## */

#skills{
  min-height: 700px;
}

#skills i{
  font-size: 400%;
  transition: all 0.3s;
}
#skills i:hover{
  color: #393e46;

}

.skills-table{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 100px;
  
}


.skills-table p{
  margin-bottom: 30px;
  font-weight: 700;
}


/* ############## Work ############## */

#work{
  border-top: 2px solid #e4e4e4;

}


.links{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 50px;
  margin-top: 80px;

  /* transform: translateY(-50%); */
}

.links img{
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}


.container{
  position: relative;
}
.container img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}

.middle{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover img {
  display: block;
  width: 100%;
  height: auto;
}

.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(141, 45, 226);
  border-radius: 10px;
}