*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #fdfdfd;

}

/* ######### Reusable content ############*/

h1{
  font-size: 300%;
  font-weight: 300;
}
h2{
  font-size: 260%;
  font-weight: 300;
}
h3{
  font-size: 130%;
  font-weight: 400;

}

section{
  padding: 110px 0;
}
.row{
  max-width: 1130px;
  margin: 0 auto;
}
header,section{
  text-align: center;
}
section h2{
  margin-bottom: 50px;
}
a{
  text-decoration: none;

}


/* ############### Header ############### */

header{
  height: 100vh;
}
.logo{
  height: 20vh;
  width: auto;
  margin: 50px 0;
}
.title{
  color: #393e46;
  text-align: center;
}
.title h1{
  padding-bottom: 50px;
}

.down i{
  color: #722de2;
  font-size: 250%;
  height: 100px;

}
.down{
  padding-top: 10vh;
  animation: updown 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
/* ############## Desk ############### */

#desk{
  background: #722de2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  padding: 30px 0 0 0;
}
#desk img{
  max-width: 100%;
  max-height: 350px;
  width: auto;

}

/* ############## Skills ############## */



#skills i{
  font-size: 400%;
}

.skills-table{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 100px;
  
}

.skills-table p{
  margin-bottom: 30px;
  font-weight: 700;
}


/* ############## Work ############## */

#work{
  border-top: 2px solid #e4e4e4;

}

.links{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-row-gap: 50px;
  margin-top: 80px;

}

.links img{
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}

.container{
  position: relative;
}
.container img{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}

.middle{
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover img {
  display: block;
  width: 100%;
  height: auto;
}

.container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #722de2;
  border-radius: 10px;
}
.middle h3{
  margin-bottom: 10px;
  font-weight: 700;
} 

/* ############## contact ############## */

#contact{
  background: #722de2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fdfdfd;
  padding-bottom: 50px;
}
.logo-white{
  height: 15vh;
  width: auto;
  margin-bottom: 70px;
}
.social{
  margin-top: 100px;
}
.social a{
  margin-right: 30px;
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #fdfdfd;
  padding: 7px;
  transition: .3s ease;
}
.social a:link,
.social a:visited{
  color: #fdfdfd;

}
.social a:hover,
.social a:active{
  color: #722de2;
  background-color: #fdfdfd;
}

.social a i{
  font-size: 140%; 
}

.social a:last-child{
  margin-right: 0;
}
.copy{
  margin-top: 100px;
  font-size: 80%;
}



/* ###### ANIMATIONS ####### */

@keyframes updown{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(10px);
  }
}