@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');

:root{
  --primary-red: hsl(0, 100%, 74%) ;
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --netral-grayish-blue: hsl(246, 25%, 77%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body{
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif ;
  background-image: url("images/bg-intro-desktop.png"), linear-gradient(hsl(0, 100%, 74%), hsl(0, 100%, 74%)) ;
}

.form{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: right;
}


button, input{
  width: 100% ;
  display: block;
  padding: 20px ;
  border: 1px solid rgba(143, 143, 143, 0.219);
  border-radius: 5px;
  margin-top: 15px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif ;
  font-weight: 700;
}

input{
  padding-right: 2;
}

button{
  text-transform: uppercase;
  background-color: var(--primary-green);
  color: white;
  cursor: pointer;
}

a, a:visited{
  text-decoration: none;
  color: var(--primary-red)
}

.container{
  padding: 2.5% 10% ;
  max-width: 1440px;
  height: 100%;
}


.row{
  display: flex;  
  align-items: center;
}

.right-div{
  width:50%;
}

.left-div{
  width: 50%;
  padding-right: 5%;
  color: white;
}


.title{
  font-size: 3rem;
}

.try{
  width: auto;
  text-align: center;
  color: white;
  background-color: var(--accent-blue);
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.terms{
  color: var(--netral-grayish-blue);
  font-size: 14px;
  text-align: center;
}

.error{
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-red);
  display: none;
}

.error-input{
  border-color: var(--primary-red);
  background-image: url('images/icon-error.svg');
  background-position: 95% 50%;
  background-repeat: no-repeat;

}



.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* ####### MEDIA QUERIES ###### */
@media (max-width: 1024px){

  .container{
    padding: 2.5% 5% ;
    max-width: 1440px;
    height: 100%;
  }
}
@media (max-width: 800px){
  .title{
    font-size: 2.5rem;
  }
  .row{
    flex-direction: column;
  }
  .right-div{
    width:100%;
  }
  
  .left-div{
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 5%;
  }

  
}
