body{
  color : #212121;
}
#title{
  padding : 30px 0; 
}
#search-icon{
  line-height: 38px ;
  font-size: 40px;
}
#search{
  margin : 10vh 10%;
}
#results{
  margin : 100px 0; 
}

.random{
  margin : 80px 0;
}
.result{
  margin : 40px 0;
}
.main{
  min-height: 50vh;
}
h1, h4,h5{
  font-weight : 300;
}
p{
  font-size : 20px;
  font-weight : 300;
}
a{
  color : #00695c ;
}

footer{
  margin-top: 5vh;
}

@media only screen and (max-width: 768px){
  #search{
    margin : 10vh 4%;
  }
}

